
body{
  background-color: #F4F5F7;
  }
  .navbar{
    background-color: white;
    margin: -15px;
    padding-top: 20px;
    margin-left: 60px;
    padding-bottom: 15px;
    padding-right: 85px;
  }
  .ic-menu{
    margin-left: 150px;
  }
  
  .form-search{
    margin-right: -70px;
  }
  .btn-search{
    background-color: transparent;
    border-color: #0D28A6;
    color: #0D28A6;
  }
  .sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0D28A6;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 10px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    font-size: 28px; 
    padding: 0px 10px;
  }
  .htext{
    color: black;
  }
  .sidebar{
      position: absolute;
      top: 0;
      margin-top: 50px;
      background-color: white;
  }
  .btn-menu{
      background-color: transparent;
      border-color: transparent;
  
  }
  li {
      list-style: none;
  
    }
  
    a {
      text-decoration: none;
    }
  
    .sidebar {
      width: 90px;
      font-size: 12px;
      color: black;
      height: 100vh;
      position: fixed;
      margin-left: -300px;
      transition: 0.4s;
    }
  
    .active-main-content {
      margin-left: 150px;
    }
  
    .active-sidebar {
      margin-left: 0;
    }
  
    #main-content {
      transition: 0.4s;
    }
      .sidebar {
      width: 200px;
      font-size: 25px;
      color: black;
      height: 100vh;
      position: fixed;
      margin-left: -300px;
      transition: 0.4s;
    }
  
    .active-main-content {
      margin-left: 150px;
    }
  
    .active-sidebar {
      margin-left: 90px;
    }
  
    #main-content {
      transition: 0.4s;
    }
.main{
    margin-top: 90px;
    margin-left: 150px;
}
.btn-add{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
    width: 150px;
    height: 60px;
    background-color: #0D28A6;
    border: transparent;
    color: white;
}
.card{
    margin-top: 60px;
    margin-left: 150px;
}
.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}
.btn-lg {
  width: 150px;
  border-radius: 2px;
}
.icon {
  margin-top: -5px;
  padding-right: 10px;
}
.btn-outline-danger {
  --bs-btn-hover-bg: #f1c7cf;
  --bs-btn-hover-color: #FA2C5A;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--light-blue);
}
.card {
  padding: 24px;
  gap: 24px;
  width: 351px;
  height: 446px;
}
.filter{
  margin-left: 150px;
}
.card-img-top {
  margin-top: 20px;
} 