<div class="container-fluid">
    <nav class="navbar navbar-expand-lg ps-5 pe-5 fixed-top">
      <a class="navbar-brand " href="#"><img src="/img/rectangle 63.png" alt="" width="90px" height="34px" class="logo-s ms-5"><img src="/img/fi_menu.svg" alt="" class="ic-menu ms-5" id="button-toggle"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <nav class="navbar ">
            <div class="container-fluid form-search">
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-search btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <li class="nav-item dropdown drop">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:gray"><img src="/img/User-icon.png" alt="">
             User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Setting</a></li>
              <li><a class="dropdown-item" href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidenav">

        <li class="text-center">
          <h4 class="mb-5 text-white"><img src="/img/Rectangle 63.png" alt=""></h4>
          <a class="text-white " href="/">
            <img src="/img/home.svg" alt="">
            <p> Dashboard</p>
          </a>
        </li>
        <li class="text-center" class="nav-item btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <a class="text-white " href="#" >

            <img src="/img/fi_truck.svg" alt="">
            <p> Cars</p>
          </a>
        </li>
      </div>
        <div class="sidebar p-4 text-center" id="sidebar">
          <li class="text">
            <a class="htext" href="#">
              <p> Cars</p>
            </a>
          </li>
          <li class="text-center" class="nav-item btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <a class="htext" href="index" >
              <p> List Cars</p>
            </a>
          </li>
        </div>
