<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add New Cars</title>
        <!-- bootstrap 5 css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- custom css -->
        <!-- <link rel="stylesheet" href="style.css" /> -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
        />
        <link rel="stylesheet" href="/css/add.style.css">
      </head>
      <%- include ("partial/_navbar") -%> 
      

      <body>
        <div class="p-1" id="main-content">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Cars</a></li>
              <li class="breadcrumb-item"><a href="/">list cars</a></li>
              <li class="breadcrumb-item active" aria-current="page">add new cars</li>
            </ol>
          </nav>
          <div class="add">
            <h4>Add New Car</h4>
            <div class="card mt-5">
              <div class="card-body" >            
                <form action="/add-car" method="post" enctype="multipart/form-data">
                <div class="d-flex mb-3 ">
                  <label class="form-label nama-in">Nama</label>
                  <input  class="form-control" name="namaMobil" id="namaMobil" placeholder="avanza" >
                  <div id="namaMobil" class="form-text">
                  </div>
                </div>
                <div class="d-flex mb-3 ">
                  <label class="form-label harga-in">Sewa per Hari</label>
                    <input  class="form-control" name="harga" id="harga" placeholder="Rp.000.000">
                    <div id="harga" class="form-text">
                    </div>
                </div>
                <div class="d-flex mb-3 ">
                  <label for="ukuran" class="form-label ukuran-in">ukuran</label>
                  <select class="form-select form-item  " aria-label="Default select example" placeholder="small" name="ukuran" id="ukuran">
                    <option value="small"> small </option>
                    <option value="medium">medium</option>
                    <option value="large">large</option>
                  </select>
                </div>
                <div class="d-flex mb-3">
                  <label for="formFile" class="form-label foto-in">Foto</label>
                  <input class="form-control" type="file" name="foto" id="foto" placeholder="https://placeimg.com/640/480/any">
                </div>
                <button class="btn-cf btn-primary" type="reset"> cancel</button>
                <button class="btn-af btn-primary" type="submit"> save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <%- include ("partial/_footer") -%> 
      </body>
    </html>